<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% load static %}
    <link rel="icon" href="{% static 'css/favicon.ico' %}" type="image/x-icon">
    {% block style %}{% endblock %}
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 shadow-sm">
        <a href="{% url 'home' %}">
          {% load static %}
            <img src="{% static 'css/icon.png' %}" width="35px" height="35px">
    </a>
  <h2 class="my-0 mr-md-auto font-weight-normal">
      <a href="{% url 'home' %}">
          CaffeineShop
      </a>
  </h2>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
{% block content %}{% endblock %}
</body>
</html>